@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
a{
  text-decoration: none;
}
ul li{
  list-style: none;
  display: inline-block;
}
//*******navbar styling**********//
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  &__container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__link{
    margin-left: 20px;
  }
}