@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul li {
  list-style: none;
  display: inline-block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 111;
  width: 100%;
}
.header__navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.header__link {
  font-size: 18px;
  margin-left: 20px;
  line-height: 24px;
  color: #8fd3f4;
}
.header__link:hover {
  color: crimson;
}
.header__logo {
  color: crimson;
  font-size: 24px;
}

.home {
  position: relative;
  z-index: 99;
}
.home__container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.home__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: #99EFD0;
  margin: 30px 0 40px;
}
.home__title span {
  color: crimson;
}
.home__subtitle {
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  color: #99EFD0;
}
.home__desk {
  font-size: 18px;
  line-height: 22px;
  color: #8476AA;
}

.btn {
  text-transform: uppercase;
  margin-top: 50px;
  padding: 10px 30px;
  color: #F2994A;
  border: 1px solid #F2994A;
  border-radius: 4px;
  line-height: 20px;
  letter-spacing: 2px;
  transition: 0.6ms ease;
  transition-property: background-color, color;
}
.btn:hover {
  color: white;
  background: #F2994A;
}

.services {
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  text-align: center;
  padding: 100px 0;
}
.services__desk {
  font-size: 18px;
  margin-top: 5px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 4px;
  color: #8476AA;
}
.services__desk-small {
  font-size: 14px;
  margin-top: 5px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #99EFD0;
  text-align: left;
}
.services__title {
  color: #99EFD0;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services__services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.services__item {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  margin: 10px 5%;
  background-image: url(../images/photo-1554415707-6e8cfc93fe23.jpg);
  background-size: cover;
  z-index: 1;
  position: relative;
}
.services__item:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -2;
}
.services__item__icon {
  height: 80px;
  width: 80px;
  margin-top: 20px;
}
.services__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.section__title {
  font-size: 45px;
  font-weight: 400;
  color: #99EFD0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section__title span {
  color: crimson;
}

.project {
  padding: 100px 0;
  text-align: center;
  background: linear-gradient(222.26deg, #3B1D6050 1.22%, #040D3E50 106.28%);
  z-index: -1;
}
.project__container {
  z-index: 99;
}
.project__img {
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  overflow: hidden;
  position: relative;
}
.project__img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
.project__all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.project__item {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}
.project__info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #8fd3f4;
  transition: 0.4s;
}
.project__info:hover {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #8fd3f4;
}

.particles {
  height: 100vh;
  width: 100%;
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
