@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul li {
  list-style: none;
  display: inline-block;
}

//*******navbar styling**********//
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.home {
  position: relative;
  z-index: 99;

  &__container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    color: #99EFD0;
    margin: 30px 0 40px;

    span {
      color: crimson;
    }

  }

  &__subtitle {
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #99EFD0;
  }

  &__desk {
    font-size: 18px;
    line-height: 22px;
    color: #8476AA;
  }
}

.btn {
  text-transform: uppercase;
  margin-top: 50px;
  padding: 10px 30px;
  color: #F2994A;
  border: 1px solid #F2994A;
  border-radius: 4px;
  line-height: 20px;
  letter-spacing: 2px;
  transition: 0.6ms ease;
  transition-property: background-color, color;

  &:hover {
    color: white;
    background: #F2994A;

  }
}

.services {
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  text-align: center;
  padding: 100px 0;

  &__desk {
    font-size: 18px;
    margin-top: 5px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #8476AA;

    &-small {
      font-size: 14px;
      margin-top: 5px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 2px;
      color: #99EFD0;
      text-align: left;
    }
  }

  &__title {
    color: #99EFD0;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
    background-image: url(../images/photo-1554415707-6e8cfc93fe23.jpg);
    background-size: cover;
    z-index: 1;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: .4;
      z-index: -2;
    }

    &__icon {
      height: 80px;
      width: 80px;
      margin-top: 20px;

    }

  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

.section__title {
  font-size: 45px;
  font-weight: 400;
  color: #99EFD0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;

  span {
    color: crimson;
  }
}

.project {
  padding: 100px 0;
  text-align: center;
  background: linear-gradient(222.26deg, #3B1D6050 1.22%, #040D3E50 106.28%);

  z-index: -1;
  &__container{
    z-index: 99;
  }
  &__img {
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
      opacity: .7;
    }
  }

  &__all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }

  &__item {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    flex-direction: column;
       overflow: hidden;
    border-radius: 10px;
    &:hover .project__img{
      transform: scale(1.1);
    }
  }

  &__info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #8fd3f4;
  }
}

.particles {
  height: 100vh;
  width: 100%;
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}